name: "Trigger: Bump Needed Mods"

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write
  actions: write

jobs:
  dispatch:
    uses: ./.github/workflows/bump.yml
    with:
      type: "Bump Needed Mods"
