name: "Trigger: Bump Needed Mods"

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write
  actions: write

jobs:
  dispatch:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger repository_dispatch
        run: |
          response=$(curl -s -o /dev/null -w "%{http_code}" -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type":"Bump Needed Mods","client_payload":{"ref":"${{ github.ref }}"}}')
          echo "HTTP response code: $response"
          if [ "$response" -ne 204 ]; then
            echo "repository_dispatch failed"
            exit 1
          fi
